# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/
ENV/

# Testing and Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type Checking & Linting
.mypy_cache/
.ruff_cache/

# Backups
backups/

# Database files
data/*.db
data/*.sqlite
data/*.sqlite3

# Streamlit Local state
.streamlit/

# OS specific
Thumbs.db
.DS_Store
